# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea/

# Sublime Text
*.sublime*

# Eclipse
.buildpath
.project
.settings

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# composer
composer.phar
vendor/*

# Robo
robo.phar

# Phing
packages/
builds/build.properties

# Test related files
tests/acceptance.suite.yml
tests/*/*Tester.php
tests/joomla-cms3*
tests/_output*
selenium-server-standalone.jar
codecept.phar
selenium.log
tests/_output/*

# JBuild related files
dist/
jorobo.ini

# Library related files
source/libraries
source/media/com_cmc/cache/*
source/media/lib_compojoom

# CMC related files
/docs/cmc.xml~
/source/libraries/compojoom
/source/language/en-GB/en-GB.lib_compojoom.sys.ini
/source/language/en-GB/en-GB.lib_compojoom.ini
/source/media/lib_compojoom
/source/administrator/components/com_cmc/version.php
/source/administrator/components/com_cmc/CHANGELOG.php

tests/_output/*