
/.idea
/packages
/builds/build.properties
/tx.exe

/docs/cmc.xml~
/source/libraries/compojoom
/source/language/en-GB/en-GB.lib_compojoom.sys.ini
/source/language/en-GB/en-GB.lib_compojoom.ini
/source/media/lib_compojoom
/source/administrator/components/com_cmc/version.php
/source/administrator/components/com_cmc/CHANGELOG.php
