#cmc_gravatar{width: 15%; display: inline-block; float: right;}
#cmc{}

.icon-32-synchronize	{
    background-image: url(../images/icon-32-sync.png);
}

.icon-32-csv {
    background: url('../images/csv_text.png') no-repeat;
}
.icon-32-group {
    background: url('../images/add-group-32px.png') no-repeat;
}


.icon-48-lists {
    background-image: url(../images/icon-48-lists.png);
}

.icon-48-users {
    background-image: url(../images/icon-48-users.png);
}

.icon-48-controlcenter{
    background-image: url(../images/icon-48-controlcenter.png);
}

#groups {
    position: absolute;
    left: 40%;
    top: 20%;
    display: none;
    z-index: 9999;
    background: #FFF;
    padding: 20px;
    width: 300px;
}

ul.usergroups {
    padding-left: 0;
}
ul.usergroups li {
    list-style: none;
}

.important {
    color: red;
}

.close {
    cursor: pointer;
}

.button-link {
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.button-link:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}