#cmc_gravatar{width: 15%; display: inline-block; float: right;}
#cmc{}

.icon-32-synchronize	{
    background-image: url(../images/icon-32-sync.png);
}

.icon-48-lists {
    background-image: url(../images/icon-48-lists.png);
}


.icon-48-users {
    background-image: url(../images/icon-48-users.png);
}

.icon-48-controlcenter{
    background-image: url(../images/icon-48-controlcenter.png);

}