<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- joomla 1.6 -->
    <fieldset name="backend" label="COM_CMC_CONFIG_BACKEND_HEADER_LABEL"
              description="COM_CMC_CONFIG_LIVE_UPDATE_HEADER_DESC">
        <field name="username" type="text" default="" size="30" label="Username"
               description ="Enter the username to our site in order to enable Live Updates" />
        <field name="password" type="text" default="" size="30" label="Password"
               description ="Enter the password to our site in order to enable Live Updates" />
    </fieldset>
    <fieldset
            name="permissions"
            label="COM_CMC_PERMISSIONS_FRONTEND_LABEL"
            description="COM_CMC_PERMISSIONS_FRONTEND_DESC"
            >

        <field
                name="rules"
                type="rules"
                label="COM_CMC_PERMISSIONS_FRONTEND"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_cmc" />
    </fieldset>
</config>